#btn_one{
    
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
   
}

#btn_two{
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  width:100px;
}

#btn_three{
 
  padding:7px 15px;
  margin-left:850px;
  margin-top:58px; 
  
}

.mrgn-top{
margin:98px 9px;
}

.page-body-wrapper{
background-color:aliceblue;
}

.card-title{
  padding:12px;
  margin-block-end: -85px;
}

#form-one{
  margin-left: 96px;
}

#footer{
  margin-right: -12px;
}

#exampleModalLabel1{
font-size:14px;
}










