<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <app-topbar></app-topbar>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <app-sidebar></app-sidebar>
            <!-- partial -->


            <!-- main body -->

            <div class="main-panel">
                <div class="content-wrapper mrgn-top">
                    <div class="row" id="proBanner">

                        <!-- inside -->


                        <div class="row" id="head">WINTER PREPAREDNESS</div>

                        <!-- card-1 -->
                        <div class="content">
                            <div class="on">
                                <img src="assets/images/image6.jpg" alt="profile" class="image">
                            </div>
                            <div class="on2">HEALTH</div>
                            <div class="on3">
                                <p class="con1">Top winter activities that could send you to the <br> ER</p>
                            </div>
                            <div class="on4">Jan. 8,2021</div>
                        </div>
                    
                        <!-- card 2 -->
                        <div class="content">
                            <div class="on">
                                <img src="assets/images/image7.png" alt="profile" class="image">
                            </div>
                            <div class="on2">ACCUWEATHER READY</div>
                            <div class="on3"> <p class="con1">How to prevent frostbite at this first warning sign</p></div>
                            <div class="on4"></div>
                        </div>

                         <!-- card 3 -->
                         <div class="content">
                            <div class="on">
                                <img src="assets/images/image8.jpg" alt="profile" class="image">
                            </div>
                            <div class="on2">ACCUWEATHER READY</div>
                            <div class="on3"> <p class="con1">How to stop glasses from fogging up while <br> wearing a mask</p></div>
                            <div class="on4">Jan. 3, 2021</div>
                        </div>

                        <!-- card 4 -->
                        <div class="content">
                            <div class="on">
                                <img src="assets/images/image9.jpg" alt="profile" class="image">
                            </div>
                            <div class="on2">Weather News</div>
                            <div class="on3"> <p class="con1">Tips to avoid breaking or damaging windshield <br>wipers in incl...</div>
                            <div class="on4"></div>
                        </div>

                        <div class="row" id="head2">TORONTO PREPAREDENESS</div>

                        <!-- card 5 -->
                        <div class="content">
                            <div class="on">
                                <img src="assets/images/image10.webp" alt="profile" class="image">
                            </div>
                            <div class="on2">Weather News</div>
                            <div class="on3"> <p class="con1">life-threatening tornado myths debunked</div>
                            <div class="on4"></div>
                        </div>

                         <!-- card 6 -->
                         <div class="content">
                            <div class="on">
                                <img src="assets/images/image11.gif" alt="profile" class="image">
                            </div>
                            <div class="on2">Weather News</div>
                            <div class="on3"> <p class="con1">What to do if you encounter a tornado while <br>driving</div>
                            <div class="on4"></div>
                        </div>

                        <div class="row" id="head3">HURRICANE PREPAREDNESS</div>

                        <!-- card 7 -->
                        <div class="content" id="sev">
                            <div class="on">
                                <img src="assets/images/image12.webp" alt="profile" class="image" id="img">
                            </div>
                            <div class="on2">Weather News</div>
                            <div class="on3"> <p class="con1">Your hurricane preparedness checklist</div>
                            <div class="on4"></div>
                        </div>

                        <!-- card 8 -->
                        <div class="content" id="eig">
                            <div class="on">
                                <img src="assets/images/image13.webp" alt="profile" class="image">
                            </div>
                            <div class="on2">ACCUWEATHER READY</div>
                            <div class="on3"> <p class="con1">Your hurricane preparedness checklist</div>
                            <div class="on4"></div>
                        </div>




                    </div>
                </div>
            </div>

            <!-- ends main body -->

        </div>
        <!-- page-body-wrapper ends -->
    </div>

</body>