.page-body-wrapper{
    background-color:aliceblue;
}



    nav{
        width: 80%;
        float: right;
    }

    nav ul{
        width: 100%;
    }
    
    nav ul li {
        float: left;
        width: 20%;
        line-height: 60px;
        text-align: center;
    }

    
