<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <app-topbar></app-topbar>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <app-sidebar></app-sidebar>
            <!-- partial -->


            <!-- main body -->

            <div class="main-panel">
                <div class="content-wrapper mrgn-top">
                    <div class="row" id="proBanner">

                        <div id="content">
                            <div id="asia"><p class="cont">ASIA</p></div>
                        </div>

                        <div id="india"><p id="ind">INDIA</p></div>

                        <div id="list">
                            <div id="on1" class="con"> <p class="cont2">Andaman and Nicobar Islands</p></div>
                            <div id="on2" class="con"><p class="cont2">Andhra Pradesh</p></div>
                            <div id="on3" class="con"><p class="cont2">Arunachal Pradesh</p></div>
                            <div id="on4" class="con"><p class="cont2">Assam</p></div>
                            <div id="on5" class="con"><p class="cont2">Bihar</p></div>
                            <div id="on6" class="con"><p class="cont2">Chandigarh</p></div>
                            <div id="on7" class="con"><p class="cont2">Chhattisgarh</p></div>
                            <div id="on8" class="con"><p class="cont2">Dadra and Nagar Haveli</p></div>
                            <div id="on9" class="con"><p class="cont2">Daman and Diu</p></div>
                            <div id="on10"class="con"><p class="cont2">Delhi</p></div>
                       
                            <div id="on11" class="con"><p class="cont2">Goa</p></div>
                            <div id="on12" class="con"><p class="cont2">Gujarat</p></div>
                            <div id="on13" class="con"><p class="cont2">Haryana</p></div>
                            <div id="on14" class="con"><p class="cont2">Himachal Pradesh</p></div>
                            <div id="on15" class="con"><p class="cont2">Jammu and Kashmir</p></div>
                            <div id="on16" class="con"><p class="cont2">Jharkhand</p></div>
                            <div id="on17" class="con"><p class="cont2">Karnataka</p></div>
                            <div id="on18" class="con"><p class="cont2">Kerala</p></div>
                            <div id="on19" class="con"><p class="cont2">Ladakh</p></div>
                            <div id="on20" class="con"><p class="cont2">Lakshadweep</p></div>
                      
                            <div id="on21" class="con"><p class="cont2">Madhya Pradesh</p></div>
                            <div id="on22"class="con"><p class="cont2">Maharashtra</p></div>
                            <div id="on23"class="con"><p class="cont2">Manipur</p></div>
                            <div id="on24"class="con"><p class="cont2">Meghalaya</p></div>
                            <div id="on25"class="con"><p class="cont2">Mizoram</p></div>
                            <div id="on26"class="con"><p class="cont2">Nagaland</p></div>
                            <div id="on27"class="con"><p class="cont2">Odisha</p></div>
                            <div id="on28"class="con"><p class="cont2">Puducherry</p></div>
                            <div id="on29"class="con"><p class="cont2">Punjab</p></div>
                            <div id="on30"class="con"><p class="cont2">Rajasthan</p></div>

                        </div>











                    </div>
                </div>
            </div>

            <!-- ends main body -->

        </div>
        <!-- page-body-wrapper ends -->
    </div>

</body>