#content{ 
    display:grid;  
    grid-template-columns:repeat(1,1fr) ;
    grid-template-rows:50px;
    padding: 0px;
    margin: 0px;  
    grid-gap:1px;
    margin-right: 40%;
    margin-top: 0%;
    width: 60%;
    height:120px;
    display: grid;
   
    
    grid-template-areas:
    "asia asia asia asia";
    
}
#content div{
    background:white;
    padding:-1px;  
    display: flex;
    grid-template-columns: 200px ;
    grid-template-rows: 50px ;
    font-family: Arial, Helvetica, sans-serif;
    
   
}
#asia{
    grid-area:asia;
    width: 100%;
    align-items: center;

}
.cont{
    margin-left: 14px;
    margin-top: 14px;
}

#ind{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -4%;
    

}


#list{ 
    display:grid;  
    grid-template-columns:repeat(1,1fr) ;
    grid-auto-rows: 1fr;
    padding: 0px;
    margin: 0px;  
    grid-gap:4px;
    margin-top: 0%;
    width: 60%;
    height:130px;
    position:inherit;

    grid-template-areas:
    "on1 on1 on1 on1"
    "on2 on2 on2 on2"
    "on3 on3 on3 on3"
    "on4 on4 on4 on4"
    "on5 on5 on5 on5"
    "on6 on6 on6 on6"
    "on7 on7 on7 on7"
    "on8 on8 on8 on8"
    "on9 on9 on9 on9"
    "on10 on10 on10 on10"
     "on11 on11 on11 on11"
    "on12 on12 on12 on12"
    "on13 on13 on13 on13"
    "on14 on14 on14 on14" 
    "on15 on15 on15 on15"
    "on16 on16 on16 on16"
    "on17 on17 on17 on17"
    "on18 on18 on18 on18"
    "on19 on19 on19 on19"
    "on20 on20 on20 on20"
    "on21 on21 on21 on21"
    "on22 on22 on22 on22"
    "on23 on23 on23 on23"
    "on24 on24 on24 on24"
    "on25 on25 on25 on25"
    "on26 on26 on26 on26"
    "on27 on27 on27 on27"
    "on28 on28 on28 on28"
    "on29 on29 on29 on29"
    "on30 on30 on30 on30" 
    ;
    
}

#list div{
    background:white;
    padding:-1px;  
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    
   
}

.cont2{
    margin-left: 14px;
    margin-top: 14px;
    /* display: block;
     position:inherit; */
}

#on1{
    grid-area:on1;
   

}
#on2{
    grid-area:on2;
   

}
#on3{
    grid-area:on3;
    

}
#on4{
    grid-area:on4;
   

}
#on5{
    grid-area:on5;
    width: 100%;
    align-items: center;

}
#on6{
    grid-area:on6;
    width: 100%;
    align-items: center;

}
#on7{
    grid-area:on7;
    width: 100%;
    align-items: center;

}
#on8{
    grid-area:on8;
    width: 100%;
    align-items: center;

}
#on9{
    grid-area:on9;
    width: 100%;
    align-items: center;

}
#on10{
    grid-area:on10;
    width: 100%;
    align-items: center;

}
#on11{
    grid-area:on11;
    width: 100%;
    align-items: center;

}
#on12{
    grid-area:on12;
    width: 100%;
    align-items: center;

}
#on13{
    grid-area:on13;
    width: 100%;
    align-items: center;

}
#on14{
    grid-area:on14;
    width: 100%;
    align-items: center;

}
#on15{
    grid-area:on15;
    width: 100%;
    align-items: center;

}
#on16{
    grid-area:on16;
    width: 100%;
    align-items: center;

}
#on17{
    grid-area:on17;
    width: 100%;
    align-items: center;

}
#on18{
    grid-area:on18;
    width: 100%;
    align-items: center;

}
#on19{
    grid-area:on19;
    width: 100%;
    align-items: center;

}
#on20{
    grid-area:on20;
    width: 100%;
    align-items: center;

}
#on21{
    grid-area:on21;
    width: 100%;
    align-items: center;

}
#on22{
    grid-area:on22;
    width: 100%;
    align-items: center;

}
#on23{
    grid-area:on23;
    width: 100%;
    align-items: center;

}
#on24{
    grid-area:on24;
    width: 100%;
    align-items: center;

}
#on25{
    grid-area:on25;
    width: 100%;
    align-items: center;

}
#on26{
    grid-area:on26;
    width: 100%;
    align-items: center;

}
#on27{
    grid-area:on27;
    width: 100%;
    align-items: center;

}
#on28{
    grid-area:on28;
    

}
#on29{
    grid-area:on29;
    

}
#on30{
    grid-area:on30;
   

}
.con{
    width: 100%;
    align-items: center;
}


