<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <app-topbar></app-topbar>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <app-sidebar></app-sidebar>
            <!-- partial -->


            <!-- main body -->

            <div class="main-panel">
                <div class="content-wrapper mrgn-top">
                    <div class="row" id="proBanner">

                        <!-- <div id="content">

                            <div id="one">
                                <p id="current"> <b>CURRENT WEATHER </b></p>
                            </div>
                            <div id="two"></div>
                            <div id="thre">
                                <P id="time">3.45 PM</P>
                            </div>
                            <div id="four"><img src="assets/images/sun.svg" alt="profile" id="image"></div>
                            <div id="fiv">
                                <div class="temp" id="temp1">28&#xB0;
                                    <span class="after-temp" id="celcius">C</span>
                                </div>
                            </div>
                            <div id="six">
                                <div class="real-feel">
                                    RealFeel&#xAE;
                                    31&#xB0;
                                </div>
                            </div>

                            <div id="sev" class="line"><span class="label real">RealFeel Shade&#x2122;</span></div>
                            <div id="eig" class="line"><span class="value"> <b>27&#xB0;</b></span></div>
                            <div id="nin" class="line"><span class="label real">Air Quality</span></div>
                            <div id="ten" class="line"><span class="value" id="poor"><b>Poor</b></span></div>
                            <div id="ele" class="line"><span class="label real">Wind</span></div>
                            <div id="twe" class="line"><span class="value"><b>E 10 km/h</b></span></div>
                            <div id="thir" class="line"> <span class="label real">Wind Gusts</span></div>
                            <div id="fourt" class="line"><span class="value"><b>16 km/h</b></span></div>
                            <div id="fif">
                                <p id="sunny"><b>Sunny</b></p>
                            </div>
                            <div id="sixt">
                                <p id="more"> <b>MORE DETAILS <i class="fa fa-arrow-right" aria-hidden="true"></i></b>
                                </p>
                            </div>
                        </div> -->

                       <div class="row" id="head">WEATHER NEWS</div>

                       <!-- card-1 -->
                        <div id="content2">
                            <div id="on">
                                <img src="assets/images/image1.webp" alt="profile" id="image2">
                            </div>
                            <div id="on2">HEALTH</div>
                            <div id="on3"> <p id="con1">Daily Coronavirus briefing:Pessimism growing <br>for olympics</p></div>
                            <div id="on4">Jan. 21,2021</div>
                        </div>

                        <!-- card-2 -->
                        <div id="content3">
                            <div id="tw">
                                <img src="assets/images/image2.webp" alt="profile" id="image3">
                            </div>
                            <div id="tw2">SEVERE WEATHER</div>
                            <div id="tw3"> <p id="cont">Flooding highlights outline of 400-year-old <br>historic site</p></div>
                            <div id="tw4">Jan. 21,2021</div>
                        </div>

                        <!-- card-3 -->
                        <div id="content4">
                            <div id="th">
                                <img src="assets/images/image3.webp" alt="profile" id="image4">
                            </div>
                            <div id="th2">SPORTS</div>
                            <div id="th3"> <p id="cont2">Beautiful day for snowboarding quickly turned <br>terrifying</p></div>
                            <div id="th4">Jan. 21,2021</div>
                        </div>
                        <!-- card 4 -->
                        <div id="content5">
                            <div id="fo">
                                <img src="assets/images/image4.webp" alt="profile" id="image5">
                            </div>
                            <div id="fo2">WINTER WEATHER</div>
                            <div id="fo3"> <p id="cont3">'Extra ordinary wind gusts' spark fires, power <br>outages across...</p></div>
                            <div id="fo4">Jan. 21,2021</div>
                        </div>
                        <!-- card 5 -->
                        <div id="content6">
                            <div id="fi">
                                <img src="assets/images/image5.webp" alt="profile" id="image6">
                            </div>
                            <div id="fi2">WINTER WEATHER</div>
                            <div id="fi3"> <p id="cont4">Weather relief in store for southwest into late- <br>january</p></div>
                            <div id="fi4">Jan. 21,2021</div>
                        </div>


                        <!-- card -->
                        <!-- <div id="content2" class="row">
                            <div class="card">
                                <div class="card-body">

                                    <div id="on" class="row">
                                        <div class="col-sm-2">
                                            <img src="assets/images/image1.webp" alt="profile" id="image2">
                                        </div>

                                        <div class="col-sm-4">
                                            <div id="on2" class="row">
                                                <p>HEALTH</p>
                                            </div>

                                            <div id="on3" class="row">
                                                <p>Daily Coronavirus briefing:Pessimism growing for </p>
                                            </div>

                                            <div id="on4" class="row">
                                                <p>olympics</p>
                                            </div>
                                            <div id="on5" class="row">Jan. 21,2021</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div> -->

                    </div>
                </div>
            </div>

            <!-- ends main body -->

        </div>
        <!-- page-body-wrapper ends -->
    </div>

</body>