.page-body-wrapper{
    background-color: aliceblue;
}
.container-fluid {
    margin-bottom:317px;
   margin-top: -5px;
   background-color: #f2edf3 !important;
   
}

/* .navbar .navbar-expand-lg .navbar-light .bg-light{
    background-color:aliceblue  !important;

} */
  


.nav-link{
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    vertical-align:baseline;
    white-space:nowrap;
}
.bg-light{
    width:1102px;
}

.navbar-collapse{
    border-bottom: solid 1px;
    border-bottom-color:rgb(102, 108, 114)

}

#image{
    margin:0px 12px 0 0;
    height:77px;
    margin-bottom: 174px;
}


a:active, a:visited,a:hover {
    text-decoration: underline;
    text-decoration-color:solid red
    }  


.card{
    margin-top:-294px;
}

nav{
    width: 60%;
    float: right;
}

a {
    text-decoration: none;
    color: #000;
}

nav ul{
    width: 60%;
}

nav ul li {
    float: left;
    width: 18%;
    line-height: 20px;
    text-align: center;
    
}

#temp1{
    font-size: 82px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -76px;
    margin-bottom: 142px;
}

#celcius{
    font-size:24px;
}


.forecast-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    flex-grow: 1;
}

.line{
    border-bottom: inset;
}

.temp-container{
    margin-top:-19px;
    margin-right:2px;
    margin-bottom: 182px;
}

.real-feel{
    margin-top:-167px;
    margin-left:-71px;
}
#lineone{
    margin-top:33px;
}

#time{
    margin-top:-14px;
    font-size: 14px;
}

.lines {
    margin-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif;

}

#sunny{
margin-top:-129px;
font-family:Arial, Helvetica, sans-serif;

}

#more{
    margin-top:15px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:45px;

}
#current{
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px ;
}
#poor{
    color:red;
}

.real{
    margin-left:-12px
}

.rtwo{
    margin-left:100px;
}

.navLink  {
    font-size:14px;
    
}







