<body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
     <app-topbar></app-topbar>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <app-sidebar></app-sidebar>
        <!-- partial -->


<!-- main body -->

<div class="main-panel">
    <div class="content-wrapper mrgn-top">
      <div class="row" id="proBanner">
      
        <nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light row">
          <div class="col-sm-9">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active navLink" aria-current="page" href="wea">NOW</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link navLink" href="wea" id="one">HOURLY</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link navLink" href="wea">DAILY</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link navLink" href="wea">RADAR</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link navLink" href="wea">MONTHLY</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link navLink" href="wea">AIR QUALITY</a>
                    </li>
                    
                  </ul>
                </div>
      </div>
    </nav>

      <div class="row">
        <div class="col-sm-9">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                  <div class="col-sm-6">
                      <p id="current"> <b>CURRENT WEATHER </b></p>
                      <P id="time">3.45 PM</P>
                          <div class="forecast-container row">
                          <div class="col-sm">
                      <img src="assets/images/sun.svg" alt="profile" id="image">
                  </div>
                      <div class="temp-container col-sm-5 ">
                          <div class="temp" id="temp1">28&#xB0;<span class="after-temp" id="celcius">C</span></div>
                          <div class="real-feel">
                              RealFeel&#xAE;
                              31&#xB0;
                          </div>
                      </div>
                  </div>
                  <p id="sunny"><b>Sunny</b></p>
              
                  </div>
  
                  <div class="col-sm-6">
                  <div class="row line lines rone"  id="lineone">
                      <div class="col-sm-5">
                          <span class="label real">RealFeel Shade&#x2122;</span>
                
                      </div>
                      <div class="col-sm lines rtwo">
                          <span class="value"> <b>27&#xB0;</b></span>
                  
                      </div>
                  </div>
                  <div class="row line lines rone">
                      <div class="col-sm-5">
                          <span class="label real">Air Quality</span>
                
                      </div>
                      <div class="col-sm lines rtwo">
                          <span class="value" id="poor"><b>Poor</b></span>
                  
                      </div>
                  </div>
                     
                  <div class="row line lines rone">
                      <div class="col-sm-5">
                          <span class="label real">Wind</span>
                
                      </div>
                      <div class="col-sm lines rtwo">
                          <span class="value"><b>E 10 km/h</b></span>
                  
                      </div>
                  </div>
                  
                  <div class="row">
                      <div class="col-sm-5 lines rone">
                          <span class="label real">Wind Gusts</span>
                
                      </div>
                      <div class="col-sm lines rtwo">
                          <span class="value"><b>16 km/h</b></span>
                  
                      </div>
                  </div>
  
  
                  <div class="row">
                      <div class="col-sm-5">
                      
                      </div>
                      <div class="col-sm">
                          <p id="more"> <b>MORE DETAILS <i class="fa fa-arrow-right" aria-hidden="true"></i></b></p>
                          
                  
                      </div>
                  </div>
               
  
                  </div>
                  </div>
                </div>
              </div>
            </div>
              </div>


        </div>
        </div>
        </div>

        <!-- ends main body -->

    </div>
    <!-- page-body-wrapper ends -->
  </div>
  
</body>

